<div class="container">
    <%- include('dashheader') %>
    <% if (error) { %>
      <div class="alert alert-danger mt-3" role="alert">
      <%= message %>
    </div>
      <% } %>
    <% if (addSuc) { %>
        <div class="alert alert-success mt-3" role="alert">Freundschaftsanfrage erfolgreich verschickt!</div>
    <% } %>
        <form action="/dashboard/search" method="POST">
            <div class="form-group">
                <label for="search">Suche</label>
                <input value="<%= val %>" class="form-control" type="text" id="search" name="search" placeholder="Name" required>
            </div>
        </form>
        <% users.forEach(user => { %>
            <div class="card mb-4">
                    <div class="card-body">
                        <h4 class="card-title text-decoration-none">
                            <%= user.name %>
                        </h4>
                        <div class="card-subtitle card-text text-muted">
                            <%= user.email %>
                        </div>
                        <div>
                            <form action="/dashboard/addfriend" method="POST">
                                <input type="text" hidden name="id" value="<%= user._id %>">
                            <button type="submit" class="btn btn-success">Freund Hinzufügen</a>
                        </form>
                        </div>
                    </div>
            </div>
        <% }) %>
        <% if(noResult) { %>
      <div class="alert alert-danger" role="alert">
          Keinen Benutzer mit deinen Daten gefunden, überprüfe nochmal deine Eingabe.
      </div>
        <% } %>
</div>